.slide-children {
    height: auto;
    width: 55%;
    position: absolute;
    right: 10px;
    bottom: 25px;
    text-align: center;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    border:solid;
    border-color:black
}

.background-solid {
    background-color:antiquewhite ;
}

.prod-container {
    width: 100%;
    height: auto;
    display: flex;
    margin: 0 8px 0px;
}

.slide-img {
    width: 120px;
    margin: 0px 0px 0px;

}

    .slide-img img {
        height: 80px;
        border-radius: 8%;
    }

.slide-descr {
    width: 220px;
}

.slide-description-top {
    display: flex;
    position: absolute;
    top: 0px;
    left: 10px;
}

.slide-description-middle {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: -1px;
    right: 20px;
}

.slide-description-bottom {
    display: flex;
    justify-content: space-around;
    position: absolute;
    background: transparent;
    top : 100px;
    left: 100px;
}



.font-valor1 {
    font-size: 50px;
    color: #fc0;
    font-family: 'Vladimir Script';
    color: darkorange;
}

.font-valor2 {
    font-size: 35px;
    color: darkblue;
    font-family: 'Script MT';
}

.font-valor3 {
    font-size: 25px;
    color: darkorange;
    font-family: 'Times New Roman', Times, serif;
}


.btn-comprar {
    width: 55%;
    height: 6px;
    border: none;
    border-radius: 8px;
    background: transparent;
    color: white;
    border-radius: 8%;
}



a.button {
    padding: 1px 6px;
    border: 1px outset ;
    border-radius: 3px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
}


.div-sizes{
    display:flex;
}


@media (max-width: 641px){
    .slide-children {
        height: auto;
    }

    .slide-img {
        position: absolute;
        top: 5px;
        left: 15%;
        margin: 1px;
    }
    .slide-descr {
        position: absolute;
        left: 0;
        margin: 5px;
        bottom: 15px;
    }

    .slide-description-middle p {
        font-size: 7pt;
        width: 350px;
    }

    .slide-description-botton{
        height:60px;
    }

    .div-sizes {
        position: absolute;
        left: 0px;
        margin-top: 14px;
    }

    .btn-comprar {
        height: 30px;
        width: 150px;
        margin-top:33px;
    }

    .div-value-prod {
        position: absolute;
        right: 40%;
        bottom: 0px;
    }
}
