@page "/auth"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<PageTitle>Autorização</PageTitle>

<h1>Está autenticado!</h1>

<AuthorizeView>
    Hello @context.User.Identity?.Name!
</AuthorizeView>
