@page "/sobre"

@using GestaoLoja.Components.Pages.ProdutoPages

<p>Sobre nós ...</p>
<p><b>@AppConfig.tituloHomePage</b></p>
<p>@AppConfig.enderecoHome</p>
<p>Contactos:</p>
<p>Mail: @AppConfig.mail</p>
<p>Telefone: @AppConfig.telefone</p>